.input_wrapper{
    position: relative;
    display: flex;
    height: calc(1.5em + 0.75rem + 2px);
}

.input-field_wrapper{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-cover{
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
}

.input-paddingforLeft{
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 60px !important;
    padding-right: 0.75rem;
}

.input-paddingforRight{
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 60px !important;
}

.input-paddingforBoth{
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.input-prefix_wrapper{
    width: 60px;
    font-size: 15px;
    height: 100%;
    display: flex;
    line-height: 1.5;
    color: #495057;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
}

.input-suffix_wrapper{
    width: 60px;
    right: 0;
    font-size: 15px;
    height: 100%;
    display: flex;
    line-height: 1.5;
    color: #495057;
    position: absolute;
    align-items: center;
    justify-content: center;
}