.drawerHeader {
  /*background-color: rgb(55, 0, 117);*/
  background-color: rgb(42, 5, 85);
}
.teesco {
  text-align: center;
  color: bisque;
}

#drawer {
  background-color: rgb(42, 5, 85);
  color: gold;
  max-height: auto;
  min-height: auto;
  padding-top: 30px;
  /* border: 3px solid red; */
}
.listItem:hover {
  background-color: gold !important;
  color: black;
  transition: all 0.3s;
}
.listItem:hover .starIcon {
  color: black;
  transition: all 0.3s;
}
.starIcon {
  color: gold;
  transition: all 0.3s;
}
#card {
  width: 275px;
  margin: 10px 10px 0 10px;
  background-color: rgb(63, 5, 129) !important;
  color: #fff !important;
}
#expansionPanel {
  background-color: rgb(63, 5, 129) !important;
  color: gold !important;
}
.expand {
  color: gold !important;
}
.MuiPaper-root {
  background-color: rgb(42, 5, 85) !important;
}
.golden {
  background-color: goldenrod !important;
}
.golden:hover {
  background-color: gold !important;
  transition: all 0.4s;
}
