/* * {
  font-weight: bold !important;
} */
*::-webkit-scrollbar {
  width: 6px !important;
  background-color: #a5a5a5 !important;
}
*::-webkit-scrollbar-thumb {
  background-color: #000000;
}
a {
  text-decoration: none;
  color: #000;
}
.card {
  height: 175px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
}
.card2 {
  height: 215px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
}

.menu {
  position: absolute !important;
  top: 0;
  left: 80%;
}
.menuCard {
  width: auto;
  height: auto;
  margin-bottom: -8px;
  margin-top: -8px;
  /* background-color: hotpink !important; */
  overflow-y: auto !important;
  text-align: center;
}
.listItem {
  background-color: rgb(235, 235, 235) !important;
  margin-bottom: 10px !important;
  border-radius: 20px !important;
  height: 35px !important;
}
.listItem:hover {
  background-color: rgb(187, 187, 187) !important;
}
.createBtn {
  width: 100% !important;
  background-color: #3f51b5 !important;
  color: #fff !important;
}
.centerImage {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
#groups {
  height: 35px;
}
.icon {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.inviteBox {
  display: flex;
  flex-direction: row;
}
.groupHeader {
  position: relative;
}
.groupAdd {
  position: absolute !important;
  top: -10px;
  left: 81.5%;
  font-size: 33px;
}
.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
.boxes {
  width: 130px;
  height: 130px;

  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boxes:hover {
  background-color: #c6ceff;
}
